	
<%= render 'navbar' %>

<div class="page-content">
	<h3>We facilitate investment and trade between West Africa and China.</h3>
	<h3>With a network that spans government, banking, energy, manufacturing and media, we provide advisory and intermediary services for projects involving cross-border investment, setting up of local operations and large-scale procurement requirements.</h3>

	<br>
	<hr>
	<br>
	
	<h3>我们为您与西非洲的交易提供帮助。我们的关系网络能使您的生意变得更顺利，无论您是投资跨境项目、采购物品或者寻找新的合伙人。</h3>
</div>
<div class="footer-pattern">
</div>

<div class="offices">
	<div class="office-location">
		<h3>Lagos 拉各斯</h3>
		<p>1234 Road name</p>
		<p>ABC District</p>
		<p>Nigeria</p>
	</div>

	<div class="office-location">
		<h3>Shanghai 上海</h3>
		<p>240 Wanping Lu</p>
		<p>Xuhui District</p>
		<p>上海市徐汇区宛平路240号</p>
	</div>
</div>